.banner {
  height: 100vh;
  background: url("../img/Imagen_Banner.png") center/cover no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0); /*Para la opacidad, así deja ver bien las letras (Por si no os gusta como se ven con las letras)*/
}
.banner h1 {
  font-size: 60px;
  margin: 0;
}
.banner h2{
  font-size: 24px;
}

.banner-content {
  position: relative;
  z-index: 1;
}

@media (max-width: 1024px) {
    .banner{
        height: 80vh;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-content h2 {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
  .banner {
    height: 60vh;
  }

  .banner-content h1 {
    font-size: 40px;
  }
  .banner-content h2 {
    font-size: 18px;
  }
}


@media (max-width: 480px) {
  .banner {
    height: 40vh;
  }

.banner-content h1 {
    font-size: 40px; 
}
.banner-content h2 {
    font-size: 24px; 
}

}
