/* Fuentes */
@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo/Cardo-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'Cardo', serif;
}
/* Estilos para la sección HOME */
body {
	margin: 0;
	padding: 0;
	
	/* Fondo: papel amarillo */
	background: url("../img/Fondo_PapelAmarillo.jpg") center top/cover no-repeat;
}

/* Contenedor principal de imagen y descripción */
.home-main-container {
	display: flex;
	gap: 24px;
	align-items: center;
}

/* Imagen principal (izquierda) */
.home-image {
    flex: 0 0 50%;
}

/* Contenedor de descripción y plataformas (derecha) */
.home-description-container {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
}

/* Descripción */
.home-description {
    margin-bottom: 16px;
    border: 3px solid #5c2703;
    padding: 24px;
    border-radius: 8px;
    line-height: 1.6;
}

/* Lista de plataformas en formato horizontal */
.platform-links {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	display: flex;
	gap: 12px;
	align-items: center;
	justify-content: flex-end;
	margin-top: 24px;
}

/* Estilos de los enlaces de plataformas con iconos */
.platform-link {
	text-decoration: none;
	display: inline-block;
	transition: transform 0.3s ease;
}

.platform-link img {
	width: 100px;
	display: block;
	cursor: pointer;
}

/* Efecto hover en enlaces de plataformas */
.platform-link:hover {
	transform: scale(1.15);
}
