
nav {
    background: url("../img/Fondo_PapelVerde.jpg") center/cover no-repeat; 
    display: flex;
    justify-content: space-between; /* Logo izquierda, links derecha */
    align-items: center;
    padding: 15px 40px;
    border-bottom: 3px solid #000;
    position: sticky; /* Fija la barra de navegación en la parte superior */
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h3{
   margin-left: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;  
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-links a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f0c040;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.hamburger .bar {
flex-basis: 100%;
height: 4px;
background-color: white;
margin: 3px
}

/* Responsive Design */
@media (max-width: 1024px) {
    nav {
        flex-wrap: wrap;
    }
    
    .hamburger{
        display: flex;
        flex-wrap: wrap;
    }
    
    .logo{
       max-height: 28px;
    }

    .nav-links{
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li{
        flex-basis: 100%;;
    }

    .nav-links a {
        text-align: center;
        font-size: 14px;
    }

    .nav-links a:hover{
        color: #f0c040;
    }
}

@media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    
    .hamburger{
        display: flex;
        flex-wrap: wrap;
    }
    
    .logo{
       max-height: 28px;
    }

    .nav-links{
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li{
        flex-basis: 100%;;
    }

    .nav-links a {
        text-align: center;
        font-size: 14px;
    }

    .nav-links a:hover{
        color: #f0c040;
    }
}

@media (max-width: 480px) {
    nav {
        flex-wrap: wrap;
    }
    
    .hamburger{
        display: flex;
        flex-wrap: wrap;
    }
    
    .logo{
       max-height: 28px;
    }

    .nav-links{
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li{
        flex-basis: 100%;;
    }

    .nav-links a {
        text-align: center;
        font-size: 14px;
    }

    .nav-links a:hover{
        color: #f0c040;
    }
}
